// Theme colours

@import url("https://2018.manchester.wordcamp.org/wp-includes/css/dashicons.min.css");

$red: #F10225;
$light-blue: #00D7F5;
$dark-blue: #0099EB;
$red: #F10225;
$black: #030303;

$font-color: $black;
$font-family-primary: 'Roboto Slab', serif;
$font-family-headings: 'azo-sans-web', sans-serif;


$font-size: 1.2rem;
$line-height: 1.6;

