.custom-header {
	line-height: 0;
	img{
		width: 100%;
		height: auto;
	}
}

.site-branding {
	text-indent: -999%;
	height: 0;
	overflow: hidden;
}


@media screen and (max-width: 768px) {
	.custom-header {
		padding-top: 10px;
	}
}