/* Navigation */
.menu {
	border-top: 3px solid #febe34;
}

.main-navigation {
	background-color: #152657;
}

.page-navigation-container li {
	display: inline-block;
	float: none;
	margin-left: -7px;
}

.page-navigation-container li a {
	color: #fff;
	font-family: "azo-sans-web", sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	padding: 1.5rem 2rem;
	font-size: 18px;
}

.page-navigation-container ul ul a {
	width: 100% !important;
}

#site-navigation .menu-toggle {
	background-color: #152657;
}

.page-navigation-container .menu-item a:hover, .page-navigation-container .current-menu-item a {
	background-color: #21409b;
}

@media (min-width: 37.5em) {
	.menu-item-has-children.focus > .sub-menu, .menu-item-has-children:hover > .sub-menu {
		top: 71px;
	}

	.menu-item-has-children.focus > a, .menu-item-has-children:hover > a {
		background-color: #21409b !important;
	}

	.menu-item-has-children > a:after {
		border-top-color: #fff !important;
	}

	.sub-menu .menu-item {
		background: #26233c;
		border-top: 1px solid rgba(255,255,255,0.5) !important;
	}
}